<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生詳細</title>
</head>
<body>
<h1>受講生詳細</h1>
<form th:action="@{/updateStudent}" th:object="${studentDetail}" method="post">
  <div>
    <label for="id">ID:</label>
    <input type="text" id="id" th:field="*{student.id}" required />
  </div>
  <div>
    <label for="name">名前:</label>
    <input type="text" id="name" th:field="*{student.name}" required />
  </div>
  <div>
    <label for="furigana">カナ名:</label>
    <input type="text" id="furigana" th:field="*{student.furigana}" required />
  </div>
  <div>
    <label for="nickname">ニックネーム:</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" required />
  </div>
  <div>
    <label for="email">メールアドレス:</label>
    <input type="text" id="email" th:field="*{student.email}" required />
  </div>
  <div>
    <label for="area">地域:</label>
    <input type="text" id="area" th:field="*{student.area}" required />
  </div>
  <div>
    <label for="age">年齢:</label>
    <input type="text" id="age" th:field="*{student.age}" required />
  </div>
  <div>
    <label for="gender">性別（任意）:</label>
    <input type="text" id="gender" th:field="*{student.gender}" />
  </div>
  <div>
    <label for="remark">備考欄（任意）:</label>
    <input type="text" id="remark" th:field="*{student.remark}" />
  </div>
  <div th:each="course, stat : *{studentsCourses}">
    <label for="coursesId"
           th:for="studentCourse.__${stat.index}__.coursesId"> 受講コース名ID：</label>
    <input type="text" id="coursesId" th:id="studentCourse.__${stat.index}__.coursesId"
           th:field="*{studentsCourses[__${stat.index}__].coursesId}"/>
    <label for="courses"
           th:for="studentCourse.__${stat.index}__.courses"> 受講コース名：</label>
    <input type="text" id="courses" th:id="studentCourse.__${stat.index}__.courses"
           th:field="*{studentsCourses[__${stat.index}__].courses}"/>
  </div>
  <div>
    <button type="submit">更新</button>
  </div>
</form>
</body>
</html>
